.aboutcontainer {
	display: flex;
	height: fit-content;
	width: 90%;
	margin: 2%;
	align-content: center;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	flex-flow: column nowrap;
	color: black;
	border-radius: 5px;
	background: rgba(63, 72, 88, 0.37);
}

.mySpans {
	font-size: 26px;
	font-weight: 900;
}
.fspan {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 2vh;
}
.sspan {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 2vh;
}

.wait {
	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 50%;
	max-height: 95%;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.tspan {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 2vh;
}

.fourthspan {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 2vh;
	font-size: 12px;
	opacity: 65%;
}
