.conwrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	height: 60vh;
	max-height: 600px;
	font-size: 26px;
	margin-top: 1%;
}

.cultext {
	margin: 0vh auto 0vh auto;
}
.phone {
	margin: 3px auto 3px auto;
}
.address {
	margin: 3px auto 3px auto;
}

.culdesac {
	display: flex;
	justify-content: center;
	align-content: center;
	max-height: 70%;
	max-width: 70%;
	margin: 3px auto 3px auto;
}
