.conwrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	font-size: 26px;
	background: rgba(63, 72, 88, 0.37);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.cultext {
	margin: 0vh auto 0vh auto;
}
.phone {
	margin: 2% auto 3px auto;
}
.address {
	margin: 0px auto 3px auto;
}

.culdesac {
	display: flex;
	justify-content: center;
	align-content: center;
	max-height: 70%;
	max-width: 70%;
	margin: 0px auto 3% auto;
}
