.mwrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: 5%;
}
.mwrapper > div {
	/* flex: 0 45%; */
	flex-basis: 49%;
	background: rgba(100, 148, 237, 0.425);
	margin: 0.5px;
}

.itemCard {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.imgicon {
	max-height: 100%;
	max-width: 100%;
}
