.mwrapper {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	text-align: center;
	margin-top: 2%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	justify-content: space-evenly;
}

.itemCard {
	margin: 1.5% 3% 1.5% 3%;
	background: rgba(63, 72, 88, 0.37);
	width: 290px;
	height: 355px;
}

.itemCard:hover {
	opacity: 75%;
}
.title {
	margin: 1%;
	font-size: 28px;
}

.imgicon {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin: 1%;
}

.itemDesc {
	margin: 1%;
	font-size: 22px;
}

@media screen and (min-width: 614px) {
	.mwrapper {
		grid-template-columns: 1fr 1fr;
	}
} ;
