* {
	background: linear-gradient(
			rgba(255, 255, 255, 0.3),
			rgba(255, 255, 255, 0.3)
		),
		url('./ededdneddy/toast.jpeg');
	/* background: linear-gradient(rgba(255, 255, 255, 0.5)),
		rgba(255, 255, 255, 0.5), url('./ededdneddy/toast.jpeg'); */
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
}
#content {
	display: flex;
	flex-flow: column nowrap;
}
